/* MOBILE FIRST */
body {
    width: 480px;
    height: 768px;
    margin: auto;
    display: grid;
}

/* TABLET STUFF STARTS HERE */
@media only screen and (min-width: 680px) { 
    body {
        width: 624px;
        height: 768px;
        margin: auto;
    }
  }

/* DESKTOP STUFF STARTS HERE */
@media only screen and (min-width: 800px) { 
    body {
        width: 1024px;
        height: 768px;
        margin: auto;
    }
  }