/* MOBILE FIRST */

body {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.boxes2 {
    display: flex;
    flex-direction: row;
}

#a {
    width: 480px;
    height: 75px;
    border: 1px solid black;
    background-color: grey;
    text-align: center;
    line-height: 75px;
    margin-top: 10px;

}

#b {
    width: 480px;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(133, 128, 128);
    text-align: center;
    line-height: 150px;
}

#c {
    width: 480px;
    height: 125px;
    border: 1px solid black;
    background-color: rgb(190, 189, 189);
    text-align: center;
    line-height: 125px;
}

#d {
    width: 480px;
    height: 125px;
    border: 1px solid black;
    background-color: rgb(214, 214, 214);
    text-align: center;
    line-height: 125px;
}

#e {
    width: 240px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(99, 99, 99);
    text-align: center;
    line-height: 250px;
}

#f {
    width: 240px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(112, 112, 112);
    text-align: center;
    line-height: 250px;
}

#g {
    width: 240px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(92, 92, 92);
    text-align: center;
    line-height: 250px;
    margin: 0px 0px 0px 0px;
}

#h {
    width: 240px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(194, 191, 191);
    text-align: center;
    line-height: 250px;
}

footer {
    width: 480px;
    height: 80px;
    border: 1px solid black;
    background-color: rgb(163, 162, 162);
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}

/* TABLET STUFF STARTS HERE */
@media only screen and (min-width: 680px) { 

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 75px 150px 125px 125px 250px 250px 80px
    }

    #a, #b, #c, #d {
        width: 624px;
    }
    
    #a {
        height: 75px;
        border: 1px solid black;
        background-color: rgb(12, 105, 67);
        text-align: center;
        line-height: 75px;
        margin-top: 10px;
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    #b {
        height: 150px;
        border: 1px solid black;
        background-color: rgb(17, 134, 66);
        text-align: center;
        line-height: 150px;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    #c {
        height: 125px;
        border: 1px solid black;
        background-color: rgb(4, 56, 15);
        text-align: center;
        line-height: 125px;
        grid-column-start: 1;
        grid-row-start: 3;
    }
    
    #d {
        height: 125px;
        border: 1px solid black;
        background-color: rgb(14, 110, 54);
        text-align: center;
        line-height: 125px;
        grid-column-start: 1;
        grid-row-start: 4;
    }

    #e, #f, #g, #h {
        width: 312px;
    }
    
    .boxes {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-column-end: span 2;
    }

    .boxes2 {
        grid-column-start: 1;
        /* grid-column-end: span 2; */
        grid-row-start: 6;
    }
    #e {
        height: 250px;
        border: 1px solid black;
        background-color: rgb(15, 88, 38);
        text-align: center;
        line-height: 250px;
        grid-column-start: 1;
        
    }
    
    #f {
        height: 250px;
        border: 1px solid black;
        background-color: rgb(10, 119, 37);
        text-align: center;
        line-height: 250px;
        float: right;
    }
    
    #g {
        border: 1px solid black;
        background-color: rgb(4, 114, 32);
        text-align: center;
        line-height: 250px;
        margin: 0px 0px 0px 0px;
        grid-column-start: 1;
    }
    
    #h {
        height: 250px;
        border: 1px solid black;
        background-color: rgb(12, 90, 32);
        text-align: center;
        line-height: 250px;
    }
    
    footer {
        width: 624px;
        height: 80px;
        border: 1px solid black;
        background-color: rgb(11, 68, 11);
        text-align: center;
        line-height: 80px;
        margin-bottom: 10px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: span 4;
    }
  }

/* DESKTOP STUFF STARTS HERE */

@media only screen and (min-width: 800px) {

    body {
        display: grid;
        grid-template-columns: 200px 380px 380px;
        grid-template-rows: 110px 200px 250px 150px;
    }

    #a, #b, #c, #d, #e, #f, #g, #h, #i {
        border: 1px solid black;
        text-align: center;
    }
    #a {
        width: 960px;
        height: 100px;
        line-height: 100px;
        background-color: maroon;
        margin-top: 10px;
        grid-column-start: 1;
        grid-row-start: 1;
    }
    #b {
        width: 200px;
        height: 600px;
        line-height: 600px;
        background-color: rgb(104, 0, 0);
        grid-column-start: 1;
    }
    #c {
        width: 380px;
        height: 200px;
        line-height: 200px;
        background-color: rgb(150, 0, 0);
        grid-column-start: 2;
        grid-row-start: 2;
    }
    #d {
        width: 380px;
        height: 200px;
        line-height: 200px;
        background-color: rgb(90, 0, 0);
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .boxes {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .boxes2 {
        grid-column-start: 3;
        grid-row-start: 3;
    }
    #e {
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: rgb(82, 1, 1);
        /* grid-column-start: 2;
        grid-row-start: 3; */
    }
    #f {
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: rgb(112, 13, 13);
        grid-column-start: 3;
    }
    #g {
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: rgb(126, 34, 34);
        margin: 0px 0px 0px 0px;
        grid-column-start: 4;
    }
    #h {
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: rgb(160, 12, 12);
        grid-column-start: 5;
    }

    footer {
        width: 960px;
        height: 150px;
        line-height: 80px;
        background-color: rgb(70, 0, 0);
        grid-row-start: 4;
    }

}
